data/
dist/
.github/
docs/
tmp/
LICENSE
README.md
vendor_bin/
.deploy.env
.env
.env.*
.vscode/
.DS_Store
*.log
coverage.out
openfoodfacts-mcp-server
test/
script/
.golangci-lint-version
.goreleaser-version
.go-version
.gitignore
Dockerfile
docker-compose.yml
